<template>
  <div>
    <router-link :to="{name: 'houses'}">
      All houses
    </router-link>

    <form @submit.prevent="create">
      <input v-model="form.address" placeholder="Address">
      <input v-model="form.owner" placeholder="Owner">
      <input v-model="form.price" placeholder="Price">
      <input v-model="form.area" type="number" placeholder="Area">
      <button type="submit">
        Create a new house
      </button>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data: () => ({
    form: {
      address: null,
      owner: null,
      price: null,
      area: null
    }
  }),

  methods: {
    ...mapActions({
      createHouse: 'houses/create'
    }),
    create () {
      this.createHouse(this.form)
        .then(data => {
          this.$router.push({
            name: 'houses.show',
            params: {
              id: data._id
            }
          })
        })
    }
  }
}
</script>
