<template>
  <div>
    <div>
      Houses
      <router-link :to="{name: 'houses.create'}">
        Create new
      </router-link>
    </div>

    <div v-for="house in houses" :key="house._id">
      <router-link :to="{name: 'houses.show',  params: {id: house._id} }">
        {{ house.address }}
      </router-link>
      <br>
      Owner: {{ house.owner }}<br>
      Price: {{ house.price }}<br>
      Area: {{ house.area }} <br>

      <button @click="deleteHouseById(house._id)">
        Delete
      </button>
    </div>

    <div v-if="loading">
      Loading...
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data: () => ({
    loading: false
  }),

  computed: {
    ...mapGetters({
      houses: 'houses/all'
    })
  },

  mounted () {
    if (!this.houses.length) {
      this.loadHouses()
    }
  },

  methods: {
    ...mapActions({
      fetchHouses: 'houses/fetch',
      deleteHouseById: 'houses/deleteById'
    }),
    async loadHouses () {
      this.loading = true
      await this.fetchHouses()
      this.loading = false
    }
  }
}
</script>
