<template>
  <div>
    <router-link :to="{name: 'houses'}">
      All houses
    </router-link>
    <br>
    <div v-if="house">
      House {{ house.address }}
      <br>
      Owner: {{ house.owner }}<br>
      Price: {{ house.price }}<br>
      Area: {{ house.area }}
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      getHouseById: 'houses/getById'
    }),
    house () {
      return this.getHouseById(this.id)
    },
    id () {
      return this.$route.params.id
    }
  },

  mounted () {
    if (!this.house) {
      this.fetchHouseById(this.id)
    }
  },

  methods: {
    ...mapActions({
      fetchHouseById: 'houses/fetchById'
    })
  }
}
</script>
