@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import "./base/variables";
@import "./base/helpers";
@import "./base/mixins";
@import "./vendor/normalize";

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.row {
  display: flex;

  @media (max-width: 1024px) {
    display: block;
  }

  & > section {
    width: 50%;
    flex-shrink: 0;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}



.about {
  &__content {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    @media (max-width: 600px) {
      padding: 30px 25px;
    }

    &__title {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.18em;
      margin: 0;
    }

    &__subtitle {
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 30px;
      @include fontFull(1em, var(--blue), bold);
    }

    &__description {
      text-align: center;
      color: var(--gray);
    }
  }
}

.about__media {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  > div {
    width: 50%;
    height: 50%;
    position: relative;

    @media (max-width: 1024px) {
      height: auto;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    .about__media__bg {
      @include size(100%, 100%);
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}


.shutter {
  @extend %flex-center;
  background: rgb(1,152,253, .79);
  @include size(100%, 100%);
  position: absolute;
  top: 0;
  left: 0;

  &__title {
    padding: 0 25px;
    text-align: center;
  }
}

.oferta {
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.oferta__media {
  position: relative;

  img {
    @include size(100%, 100%);
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .shutter {
    position: relative;
    z-index: 1;
  }

  .shutter__title {
    text-transform: uppercase;
    @include fontFull(2em, #000, bold);
    max-width: 450px;
    padding: 20px;


    @media (max-width: 600px) {
      font-size: 1.5em;
    }
  }
}

.link {
  @extend %transition;
  padding: 10px 20px;
  border: 1px solid var(--blue);
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  @include fontFull(1em, var(--blue), bold);
  margin: 30px auto;

  &:hover {
    background: var(--blue);
    color: #fff;
  }
}
