<template>
  <div class="home">
    <div class="row">
      <section class="about__content">
        <h2 class="about__content__title">KLIKA SLOW O NAS</h2>
        <p class="about__content__subtitle">Czyli kim jestesmy i dokad zmierzamy</p>
        <p class="about__content__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <p class="about__content__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <router-link to="/about" class="link">Zobacz więcej</router-link>
      </section>

      <section class="about__media">
        <div>
          <img class="about__media__bg" src="../assets/floor.jpeg">
          <div class="shutter">
            <img src="../assets/logo.png" width="100">
          </div>
        </div>

        <div>
          <img class="about__media__bg" src="../assets/girl.jpeg">
        </div>

        <div>
          <img class="about__media__bg" src="../assets/girl.jpeg">
        </div>

        <div>
          <img class="about__media__bg" src="../assets/floor.jpeg">
          <div class="shutter">
            <p class="shutter__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore</p>
          </div>
        </div>
      </section>
    </div>
    <div class="row oferta">
      <section class="oferta__media">
        <img class="about__media__bg" src="../assets/floor.jpeg">
        <div class="shutter">
          <p class="shutter__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore</p>
        </div>
      </section>

      <section class="about__content">
        <h2 class="about__content__title">Nasza oferta</h2>
        <p class="about__content__subtitle">dowiedz sie co mozymy tobie zaoferowac</p>
        <p class="about__content__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <p class="about__content__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        <router-link to="/about" class="link">Zobacz więcej</router-link>
      </section>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>
