// ---------------------------------------------------------
// Mixins
// ---------------------------------------------------------

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin font($font, $height: $font + 1) {
    font-size: $font;
    line-height: $height;
}

@mixin fontFull($font, $color, $weight) {
    font-size: $font;
    color: $color;
    font-weight: $weight;
}
